body {
  background-color: #e6e9ed;
  font-family: "public Sans";
}

#titre {
  margin: 0 30px;
}

h1 {
  margin-bottom: 0;
  font-size: 40px;
}

h2 {
  color: white;
  font-size: 35px;
  margin-top: 0px;
}

div {
  font-weight: bold;
  font-size: 20px;
}
section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 25%;
  height: auto;
  box-shadow: 0 0 2px 3px darkgray;
  border-radius: 8px;
  background-color: white;
  text-align: center;
  padding-bottom: 10px;
}

img {
  width: 50px;
  height: 50px;
  margin-top: 15px;
}

#result {
  width: 80%;
  margin: 25px auto;
  background-color: white;
  box-shadow: 0 0 2px 3px darkgray;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
}

table {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 2px 3px darkgray;
  border-radius: 8px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  overflow: hidden;
}

td {
  padding: 15px;
}

tr:hover {
  background-color: gray;
  color: white;
  transition: background-color, 2s;
}
